# Dependencies
node_modules/

# Next.js
frontend/.next/
frontend/out/

# Backend
backend/dist/
backend/prisma/migrations/
backend/uploads/

# Env
.env
*.env
*.env.local

# Logs
*.log
logs/

# IDE
.idea/
.vscode/

# Misc
.DS_Store
*.pem
tmp/
temp/
